body{
    background-image: url("../res/bg.svg");
    background-size: cover;
}

.top-block{
    width: 100%;
}

#header>div{
    position: relative;
}

#titleBlock #logoBlock{
    float: left;
}

#titleText{
    float: left;
	color: #000099;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	width: 300px;
}

#titleText .mainText{
	font-size: 100px;
	line-height:90%;
	letter-spacing:-17px;
	margin-top:20px;
}

#titleText .subText{
	font-size: 20px;
	line-height:90%;
}


.clear-block{
    clear: both;
}

.content-row{
    padding-bottom: 20px;
    background-color: #e7f9ff;
	padding: 30px 70px;
    width: 100%;
}

.row-solid{
    background-color: rgba(255, 255, 255, 1)
}

.row-tinted{
    background-color: rgb(229, 229, 229)
}

#menuBlock td{
	width:100px;
}

#menuBlock{
	padding-left:400px;
	padding-bottom:50px;
}

#watermark{
    position: fixed;
    z-index: -1;
    opacity: 0.3;
    width: 400px;
    margin: 0px;
}

#footer{
    margin-top: 100px;
    width: 100%;
    background-color: #606060;
    color: #d1d1d1;
    padding: 20px;
    text-align: center;
}

/*vinette*/
